In [1]:
#Import required libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_predict
from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.metrics import precision_score, confusion_matrix, recall_score, f1_score
import matplotlib.pyplot as plt

In [2]:
#Store csv as pandas dataframe
data = pd.read_csv("Datasets/processedData.csv")
data = data.drop(data.columns[0],axis=1)
data.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157.000000,3.000000,0,1,0,sales,low
1,0.80,0.86,5,262.000000,6.000000,0,1,0,sales,medium
2,0.11,0.88,7,272.000000,4.000000,0,1,0,sales,medium
3,0.72,0.87,5,223.000000,5.000000,0,1,0,sales,low
4,0.37,0.52,2,200.511732,3.380048,0,1,0,sales,low
5,0.41,0.50,2,200.511732,3.380048,0,1,0,sales,low
6,0.10,0.77,6,247.000000,4.000000,0,1,0,sales,low
7,0.92,0.85,5,259.000000,5.000000,0,1,0,sales,low
8,0.89,1.00,5,224.000000,5.000000,0,1,0,sales,low
9,0.42,0.53,2,142.000000,3.000000,0,1,0,sales,low

In [3]:
data = shuffle(data)
data.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,department,salary
9665,0.87,0.57,3,149.000000,3.0,0,0,0,support,low
6184,0.73,0.97,3,165.000000,2.0,0,0,0,sales,low
10487,0.57,1.00,3,241.000000,4.0,0,0,0,technical,low
11744,0.50,0.73,3,154.000000,10.0,0,0,0,IT,medium
3868,0.64,0.61,4,191.000000,4.0,0,0,0,IT,low
2676,0.63,0.50,3,140.000000,2.0,0,0,0,sales,high
5836,0.92,0.96,5,174.000000,3.0,1,0,0,technical,low
11521,0.60,0.65,2,200.511732,10.0,0,0,0,management,high
902,0.45,0.46,2,142.000000,3.0,0,1,0,product_mng,low
10841,0.97,0.89,4,248.000000,2.0,0,0,0,sales,low

In [4]:
deptCode = LabelEncoder()
deptCode.fit(data['department'])
data['department'] = deptCode.transform(data['department'])

salaryCode = LabelEncoder()
salaryCode.fit(data['salary'])
data['salary'] = salaryCode.transform(data['salary'])
data.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,department,salary
9665,0.87,0.57,3,149.000000,3.0,0,0,0,8,1
6184,0.73,0.97,3,165.000000,2.0,0,0,0,7,1
10487,0.57,1.00,3,241.000000,4.0,0,0,0,9,1
11744,0.50,0.73,3,154.000000,10.0,0,0,0,0,2
3868,0.64,0.61,4,191.000000,4.0,0,0,0,0,1
2676,0.63,0.50,3,140.000000,2.0,0,0,0,7,0
5836,0.92,0.96,5,174.000000,3.0,1,0,0,9,1
11521,0.60,0.65,2,200.511732,10.0,0,0,0,4,0
902,0.45,0.46,2,142.000000,3.0,0,1,0,6,1
10841,0.97,0.89,4,248.000000,2.0,0,0,0,7,1

In [5]:
y = data.left

In [6]:
def prediction_machine(user_def_test_size):
    x_train, x_test, y_train, y_test = train_test_split(data, y, test_size=user_def_test_size, random_state=2)
    clf = linear_model.SGDClassifier(max_iter=1000,tol=1e-3, random_state=2)
    clf.fit(x_train,y_train)
    model = cross_val_predict(clf, x_test, y_test, cv=5)
    print("Metrics with",(1-user_def_test_size),"% training data and ",(user_def_test_size),"% testing data")
    #Precision score
    y_true, y_prediction = y_test, model
    print("Precision score\t",precision_score(y_true, y_prediction))
    #Confusion matrix
    print("Confusion matrix")
    print(confusion_matrix(y_true, y_prediction))
    #Recall score
    print("Recall score\t",recall_score(y_true, y_prediction))
    #F1 score
    print("F1 score\t",f1_score(y_true, y_prediction))
    print()

In [7]:
running = "yes"
while running == "yes":
    user_def_test_size = input("What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1)")
    prediction_machine(float(user_def_test_size))
    running = input("Do you want to run the program again with a different test percentage? (Type 'yes' to run again)")

What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1).15
Metrics with 0.85 % training data and  0.15 % testing data
Precision score	 0.9848024316109423
Confusion matrix
[[1507    5]
 [   3  324]]
Recall score	 0.9908256880733946
F1 score	 0.9878048780487806

Do you want to run the program again with a different test percentage? (Type 'yes' to run again)yes
What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1).25
Metrics with 0.75 % training data and  0.25 % testing data
Precision score	 0.9906890130353817
Confusion matrix
[[2527    5]
 [   1  532]]
Recall score	 0.99812382739212
F1 score	 0.994392523364486

Do you want to run the program again with a different test percentage? (Type 'yes' to run again)yes
What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1).35
Metrics with 0.65 % training data and  0.35 % testing data
Precision score	 0.9986072423398329
Confusion matrix
[[3568    1]
 [   5  717]]
Recall score	 0.9930747922437673
F1 score	 0.9958333333333333

Do you want to run the program again with a different test percentage? (Type 'yes' to run again)yes
What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1).15
Metrics with 0.85 % training data and  0.15 % testing data
Precision score	 0.9848024316109423
Confusion matrix
[[1507    5]
 [   3  324]]
Recall score	 0.9908256880733946
F1 score	 0.9878048780487806

Do you want to run the program again with a different test percentage? (Type 'yes' to run again)yes
What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1).25
Metrics with 0.75 % training data and  0.25 % testing data
Precision score	 0.9906890130353817
Confusion matrix
[[2527    5]
 [   1  532]]
Recall score	 0.99812382739212
F1 score	 0.994392523364486

Do you want to run the program again with a different test percentage? (Type 'yes' to run again)yes
What percentage of the data do you want to use for testing? (Enter as a decimal between 0 and 1).35
Metrics with 0.65 % training data and  0.35 % testing data
Precision score	 0.9986072423398329
Confusion matrix
[[3568    1]
 [   5  717]]
Recall score	 0.9930747922437673
F1 score	 0.9958333333333333

Do you want to run the program again with a different test percentage? (Type 'yes' to run again)no